:root {
  --darkMode: #121212;
}

body {
  background-color: #f4f4f4;
  transition: 0.5s;
}

.dark-mode {
  background-color: var(--darkMode);
  color: var(--darkMode);
  transition: 0.5s;
}

.dark-mode-heading {
  color: #f4f4f4;
  transition: 0.5s;
}

.dark-mode-card {
  background-color: var(--darkMode);
  color: #f4f4f4 !important;
  transition: 0.5s;
}

.dark-mode-button-card {
  background-color: var(--darkMode);
  color: #f4f4f4 !important;
  transition: 0.5s;
  border: 1px solid #f4f4f4;
}

.dark-mode-main-btn {
  background-color: var(--darkMode) !important;
  color: #f4f4f4 !important;
  border: 1px solid #f4f4f4;
  transition: 0.5s;
}

#mode-btn {
  box-shadow: none;
  border-radius: 50%;
}

.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.students_current,
.students_graduate {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heading,
.sub-heading,
.sub-heading-text {
  text-align: center;
}

.card-container {
  margin: 40px 0 40px 0;
}

.card {
  margin: 40px;
}

.card-title {
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
  letter-spacing: 0.5px;
}

.dark-mode-accordion {
  background-color: var(--darkMode) !important;
  color: #f4f4f4;
}

.accordion {
  background-color: #ffffff;
  color: #4343da;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 10px 0 15px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 1.8;
}

.time-date-text {
  color: var(--darkMode) !important;
  font-size: 16px;
  margin: 0;
}

.dark-mode-time-date {
  background-color: var(--darkMode) !important;
  color: #f4f4f4 !important;
  transition: 0.5s;
}

.alert-light {
  --bs-alert-border-color: none;
  transition: 0.5s;
}

/* Orignal CSS for Details Accordion section created with Vanilla JavaScript.
See original JavaScript in 'app_original.js' file in 'Details Button Logic' section.
Here, the clicked button is targeted, which toggles the class.
By doing this, only the Details Section for the card that is clicked is displayed, rather than the Details Section for all of the cards.
The following is the CSS used in this logic: */

/* .details-btn {
  font-weight: bold;
  color: #4343da;
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 20px;
}

.details-btn:hover {
  color: tomato;
} */

/* .dark-mode-details-btn {
  background-color: #121212;
} */

/* .details-section {
  color: #000000;
  display: none;
}

.show-details {
  display: block;
} */
