:root {
  --darkMode: #121212;
}

body {
  background-color: #f4f4f4;
  transition: 0.5s;
}

.dark-mode {
  background-color: var(--darkMode);
  color: var(--darkMode);
  transition: 0.5s;
}

.dark-mode-heading {
  color: #f4f4f4;
  transition: 0.5s;
}

.dark-mode-card {
  background-color: var(--darkMode);
  color: #f4f4f4 !important;
  transition: 0.5s;
}

#mode-btn {
  box-shadow: none;
  border-radius: 50%;
}

.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.students {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.heading,
.sub-heading,
.sub-heading-text {
  text-align: center;
}

.card-container {
  margin: 40px 0 40px 0;
}

.card {
  margin: 40px;
}

.card-title {
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
  letter-spacing: 0.5px;
}

.dark-mode-accordion {
  background-color: var(--darkMode) !important;
  color: #f4f4f4;
}

.accordion {
  background-color: #ffffff;
  color: #4343da;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding: 10px 0 15px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 1.8;
}
